#gestionRoute {
	width: 55vw;
	display: flex;
	flex-direction: row;
}

#gestionRoute .navigation {
	width: 5vw;
}

#gestionRoute .illustration {
	width: 45vw;
}

.navigation-photo {
	text-align: center;
    margin-top: 10vw;
    font-size: 6vw;
    font-family: carveItUp;
    color: #808080;
    font-style: italic;
    text-shadow: 1px 0px white;
    cursor: pointer;
}