.photo {
	width: 100%;
	background-color: #FFF;
	text-align : center;
	padding-bottom: 15%;
    /* background : linear-gradient(to right, #EEE, white , #EEE); /* Standard syntax */
	box-shadow: 0 0 65px #DDD inset, 0 0 20px #b7b7b7 inset, 1px 1px 12px #555;
}

.photo img {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 15%;
    border: 10% solid transparent;
    border-image:url(ressources/border.png) 40;
}

.photo .description {
	font-family: RipeApricots;
	font-size:4em;
}