.photo {
    margin-bottom: 1vw;
    width: 14vw;
    height: 14vw;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-content: center;
	background-color: #FFF;
	box-shadow: 0 0 65px #DDD inset, 0 0 20px #b7b7b7 inset, 1px 1px 12px #555;
}

.photo.large {
    width: 28vw;
    height: 28vw;
    padding-top: 2vw;
}

.photo.withDescription {
    height: 18vw;
}

.photo.withDescription.large {
    height: 36vw;
}

.photo img {
    width: 12vw;
    height: 12vw;
	object-fit: contain;
    align-self: center;
}

.photo.large img {
    width: 24vw;
    height: 24vw;
}

.photo .description {
    font-family: RipeApricots;
    height: 4vw;
    width: 12vw;
    padding-top: 1vw;
    font-size: 2vw;
    line-height: 1vw;
    overflow: hidden;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo.large .description {
    height: 8vw;
    width: 24vw;
    padding-top: 2vw;
    font-size: 4vw;
    line-height: 2vw;
}