.album {
	margin-bottom: 1vw;
	width: 17vw;
	height: 20vw;
}

.photoAlbum {
	/* Trick pour que les images se superposent dans une flexbox */
	width: 0vw;
	height: 0vw;
}

.album .photo {
	cursor: pointer;
}