.autocomplist {
	position: absolute;
    background-color: white;
    border: 1px grey solid;
    border-top: 0px;
    list-style: none;
    padding: 0vw;
}

.autocomplist > li {
	padding: 0vw;
	margin: 0px;
}

.autocomplist > li:hover {
	background-color: grey;
}